{% extends "app/layout.html" %}

{% block content %}

<br />
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-success LargeMonitorizationBtn"  value="Empezar" />
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Auto-diagnóstico</h2>
        <p>
            Inicia una sesión de auto-diagnóstico. Por favor refiérase a la documentación o consulte a su médico coordinador sobre cuando y cómo utilizar el auto-diagnóstico.
        </p>
    </div>
</div>

{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static 'app/scripts/akroma_index.js' %}"></script>
{% endblock %}